<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"> <span class="sky">Foodie</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link text-white" (click)="goToCancelTickets();">Cancel Tickets
            </a>
        </li> -->
    </ul>
</div>
  <form class="form-inline my-2 my-lg-0">
    <ul class="nav navbar-nav ml-md--auto float-right">
      <li class="dropdown" *ngIf="userDetails && userDetails?.customerName">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
          <strong class="text-success">Welcome <span class="text-white">{{userDetails?.customerName}}</span></strong>
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="userDetails && userDetails?.role === 'CUSTOMER'" href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <a class="dropdown-item" href="javascript:void(0);" (click)="myOrders()">My Orders</a>
            <b class="caret"></b>
          </a>
          <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>

  </form>
</nav>